################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/.vs/Test
/TestApi/.vs
/TestApi/bin
/TestApi/obj
/packages
/.vs/Test
/TestWebApi/obj/Debug
/TestWebApi/bin
